<!-- =========================
Mega Menu V1
===========================-->
<div>
  <!-- Transparent bridge to prevent gap -->
  <div
    class="mega-menu-bridge fixed left-1/2 -translate-x-1/2 top-full w-full h-6 bg-transparent z-40 max-w-[1290px] pointer-events-none"
  ></div>
  <div
    id="pages-mega-menu"
    class="mega-menu fixed left-1/2 -translate-x-1/2 top-full mt-2 pointer-events-none transition-all duration-300 opacity-0 bg-white rounded-[20px] z-50 max-w-[1290px] w-full shadow-1 border dark:border-background-5 border-stroke-4 overflow-hidden dark:bg-background-6 {=$class}"
  >
    <div class="flex w-full relative">
      <div class="flex justify-between flex-1 gap-10 px-[60px] py-[70px]">
        <ul class="max-w-[182px] w-full space-y-5 pr-4">
          <li>
            <a
              href="./learn-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Tutorial Page</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./documentation-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Documentation Page</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</div>
