<!-- =========================
Blog Menu Dropdown
===========================-->
<div>
  <!-- Transparent bridge to prevent gap -->
  <div
    class="dropdown-menu-bridge absolute left-1/2 -translate-x-1/2 top-full w-full h-3 bg-transparent z-40 min-w-[280px] pointer-events-none"
  ></div>
  <div
    id="resources-menu"
    class="dropdown-menu absolute left-1/2 -translate-x-1/2 top-full mt-2 pointer-events-none transition-all duration-300 opacity-0 bg-white dark:bg-background-6 rounded-[20px] px-[30px] py-[30px] z-30 min-w-[280px] w-auto overflow-hidden {=$class} border border-stroke-1 dark:border-stroke-6"
  >
    <ul class="w-full space-y-2">
      <li>
            <a
              href="./learn-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Blogs</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
          <li>
            <a
              href="./documentation-page.html"
              class="text-secondary/60 dark:text-accent/60 dark:hover:text-accent flex items-center gap-1 group/item font-normal text-tagline-1 hover:text-secondary transition-all duration-200"
            >
              <span>Case Studies</span>
              <Component src="src/components/shared/link-icon.htm" />
            </a>
          </li>
    </ul>
  </div>
</div>
